.item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {
    display: flex;
    align-items: center;
    p {
        margin: 0 10px;
    }
    .minus, .plus, .del {          
        cursor: pointer;
        width: 32px;
        opacity: 0.5;
        transition: opacity .2s ease-in ;
        &:hover {
            opacity: 1;
        }             
    }
    .description {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;       

        letter-spacing: 0.01em;

        color: #8d8d8d;
    }
    .image {
        margin-right: 10px;
        width: 80px;
        object-fit: cover;
    }
}
