.list {
    display: flex;
    align-items: center;
    column-gap: 9px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.015em;
    @media (max-width: 630px) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    } 
}


