.cart {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.button {
    min-height: 46px;
    padding: 11px 25px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    border: 1px solid #000;
    background-color: #000;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
        color: #000;
        background-color: #fff;
        border: 1px solid #000;
    }
}
