.wrapper {    
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.search {   
    position: relative;      
    img {
        position: absolute;
        width: 25px;
        opacity: 0.3;
        top: 7px;
        right: 8px;
        cursor: pointer;        
    }
    input {   
        width: 450px;     
        padding: 8px 35px 8px 15px;
        border: 1px solid #eee;
        border-radius: 20px;
        transition: all .2s ease-in;
        &:focus {
            border: 1px solid #686868;
        }     
    } 
}
