.sort {
    min-width: 235px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
}

.sortBy {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    color: #2c2c2c;
}

.title {    
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    color: #fe5f1e;
    border-bottom: 2px dotted #fe5f1e;
    cursor: pointer;
}

.popup {
    width: 135px;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: -15px;
    right: 0;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    transition: all 0.2s ease-in;
}

.open {
    height: auto;
    top: 25px;
}

.item {
    padding: 12px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    color: #000;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
        background-color: rgb(236, 236, 236);
    }  
}

.active {
    padding: 12px 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    color: #fe5f1e;
    background: rgba(254, 95, 30, 0.05);
    cursor: default;
}
